<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item>Show list</button>
      <button mat-menu-item>Add new</button> -->
      <a routerLink="/list" mat-menu-item>Show list</a>
      <a routerLink="/new" mat-menu-item>Add new</a>
    </mat-menu>
</mat-toolbar>