<app-header></app-header>

<div class="form-container">
    <form (ngSubmit)="submit()" #productForm="ngForm" class="example-form">
        <h3>Create</h3>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="product.name" #name="ngModel" required minlength="3">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Please enter valid name
            </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Price" type="number" name="price" [(ngModel)]="product.price" #price="ngModel" required min="1" max="999">
            <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                Please enter valid price
            </div>
        </mat-form-field>

        <button type="submit" mat-button color="primary" [disabled]="!productForm.form.valid">Create</button>

    </form>
</div>
  
