.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
  
.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.form-container {
  display: flex;
}